{% extends 'base.html' %}

{% block content %}
<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h1 class ="text-primary"><b>Bitcoin</b></h1>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Crypto Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
        <div class="card">
          
          <div class="card-header">
            <div class="hstack gap-3">
              <img src="static/assets/img/crypto logo/cryptocom.jpg" alt="" height=30 width=30></img>
              <h5> Crypto.com</h5>
              <div class="vr"></div>
              <p>3.5 <span class="fa fa-star checked style='color: #f3da35' fa-spin fa-pulse fa-1x"></span></p>
              
            </div>
          </div>
          <div class="card-body">
            <h3 class="text-primary">$30,949,52 SGD for 1 BTC</h3>
            <br>
            <p class="card-text">Crypto.com is a cryptocurrency exchange that supports trading, investing, staking, wallets, NFTs, and more. This exchange offers more than 250 different currencies, reasonable fees, and discounts for those who hold a significant stake in Crypto.com native coin, CRO.</p>
            <div class="hstack gap-3">
            <a class="btn btn-sm btn-outline" href="https://crypto.com/sg" target="_blank">Review Site</a>
            <a class="btn btn-sm btn-outline" href="https://crypto.com/sg" target="_blank">Go To Site</a>
          </div>
          </div>
          
        </div>
        <div class="hero-unit">
          <h1>Crypto.com</h1>
          <p>Tagline</p>
          <p>
            <a class="btn btn-sm btn-outline" href="https://crypto.com/sg" target="_blank">
              Go To Site
            </a>
          </p>
        </div>
        <div class="hero-unit">
          <h1>Gemini</h1>
          <p>Tagline</p>
          <p>
            <a class="btn btn-sm btn-outline" href="https://www.gemini.com/apac/singapore" target="_blank">
              Go To Site
            </a>
          </p>
        </div>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main --

</body>
{% endblock content %}s
</html>