{% extends 'base.html' %}

{% block content %}

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title chart-section-title">
        <h2>Cryptocurrencies News</h2>
        <p>Track, analyze and get market insights for Bitcoin and over 8000 other coins</p>
      </div>
    </div>
  </section><!-- End About Section -->

  <section id="about" class="about">
    <div class="container" data-aos="fade-right">
    <div class="row mb-2 row_custom_news">
      
      {% for item_news in list_of_news %}
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250"  data-aos="fade-right">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">{{item_news.source.name}}</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">{{item_news.title}}</a>
              </h3>
              <div class="mb-1 text-muted">{{item_news.publishedAt}}</div>
              <p class="card-text mb-auto">{{item_news.description}}</p>
              <a href="{{item_news.url}}">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 200px;" src="{{item_news.image}}" data-holder-rendered="true">
          </div>
        </div>

        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250" data-aos="fade-right">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-warning">{{item_news.source_2}}</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">{{item_news.title_2}}</a>
              </h3>
              <div class="mb-1 text-muted">{{item_news.publishedAt_2}}</div>
              <p class="card-text mb-auto">{{item_news.description_2}}</p>
              <a href="{{item_news.url_2}}">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 200px;" src="{{item_news.image_2}}" data-holder-rendered="true">
          </div>
        </div>

      {% endfor %}

    </div>
  </div>
  </section>
 

    

</main><!-- End #main -->
<script>

  
  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
    }
    return false;
  };    

</script>
{% endblock content %}