{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
    body{
        background:#ffffff;    
        }
        .total-like-user-main a {
            display: inline-block;
            margin: 0 -17px 0 0;
        }
        .total-like {
            border: 1px solid;
            border-radius: 50px;
            display: inline-block;
            font-weight: 500;
            height: 34px;
            line-height: 33px;
            padding: 0 13px;
            vertical-align: top;
        }
        .restaurant-detailed-ratings-and-reviews hr {
            margin: 0 -24px;
        }
        .graph-star-rating-header .star-rating {
            font-size: 17px;
        }
        .progress {
            background: #f2f4f8 none repeat scroll 0 0;
            border-radius: 0;
            height: 30px;
        }
        .rating-list {
            display: inline-flex;
            margin-bottom: 15px;
            width: 100%;
        }
        .rating-list-left {
            height: 16px;
            line-height: 29px;
            width: 10%;
        }
        .rating-list-center {
            width: 80%;
        }
        .rating-list-right {
            line-height: 29px;
            text-align: right;
            width: 10%;
        }
        .restaurant-slider-pics {
            bottom: 0;
            font-size: 12px;
            left: 0;
            z-index: 0;
            padding: 0 10px;
        }
        .restaurant-slider-view-all {
            bottom: 15px;
            right: 15px;
            z-index: 0;
        }
        .offer-dedicated-nav .nav-link.active,
        .offer-dedicated-nav .nav-link:hover,
        .offer-dedicated-nav .nav-link:focus {
            border-color: #3868fb;
            color: #3868fb;
        }
        .offer-dedicated-nav .nav-link {
            border-bottom: 2px solid #fff;
            color: #000000;
            padding: 16px 0;
            font-weight: 600;
        }
        .offer-dedicated-nav .nav-item {
            margin: 0 37px 0 0;
        }
        .restaurant-detailed-action-btn {
            margin-top: 12px;
        }
        .restaurant-detailed-header-right .btn-success {
            border-radius: 3px;
            height: 45px;
            margin: -18px 0 18px;
            min-width: 130px;
            padding: 7px;
        }
        .text-black {
            color: #000000;
        }
        .icon-overlap {
            bottom: -23px;
            font-size: 74px;
            opacity: 0.23;
            position: absolute;
            right: -32px;
        }
        .menu-list img {
            width: 41px;
            height: 41px;
            object-fit: cover;
        }
        .restaurant-detailed-header-left img {
            width: 88px;
            height: 88px;
            border-radius: 3px;
            object-fit: cover;
            box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
        }
        .reviews-members .media .mr-3 {
            width: 56px;
            height: 56px;
            object-fit: cover;
        }
        .rounded-pill {
            border-radius: 50rem!important;
        }
        .total-like-user {
            border: 2px solid #fff;
            height: 34px;
            box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
            width: 34px;
        }
        .total-like-user-main a {
            display: inline-block;
            margin: 0 -17px 0 0;
        }
        .total-like {
            border: 1px solid;
            border-radius: 50px;
            display: inline-block;
            font-weight: 500;
            height: 34px;
            line-height: 33px;
            padding: 0 13px;
            vertical-align: top;
        }
        .restaurant-detailed-ratings-and-reviews hr {
            margin: 0 -24px;
        }
        .graph-star-rating-header .star-rating {
            font-size: 17px;
        }
        .progress {
            background: #f2f4f8 none repeat scroll 0 0;
            border-radius: 0;
            height: 30px;
        }
        .rating-list {
            display: inline-flex;
            margin-bottom: 15px;
            width: 100%;
        }
        .rating-list-left {
            height: 16px;
            line-height: 29px;
            width: 10%;
        }
        .rating-list-center {
            width: 80%;
        }
        .rating-list-right {
            line-height: 29px;
            text-align: right;
            width: 10%;
        }
        .restaurant-slider-pics {
            bottom: 0;
            font-size: 12px;
            left: 0;
            z-index: 0;
            padding: 0 10px;
        }
        .restaurant-slider-view-all {
            bottom: 15px;
            right: 15px;
            z-index: 0;
        }
        
        .progress {
            background: #f2f4f8 none repeat scroll 0 0;
            border-radius: 0;
            height: 30px;
        }

        .chart_button_1 {
            z-index:999;
        }
        
        
</style>
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title chart-section-title">
        <h2>Exchanges Reviews & Ratings</h2>
        <p>Track, analyze and get market insights for Bitcoin and over 8000 other coins</p>
      </div>
    </div>
    
  </section><!-- End About Section -->
  <section id="about" class="about">
    <div class="container ">
        
        <div class="btn-group chart-button-1 float-end">
            <button type="button" class="btn btn-secondary dropdown-toggle col-2" data-bs-toggle="dropdown" aria-expanded="false" id="select_exchange_button">
                Exchanges
            </button>
            <ul class="dropdown-menu" id="dropdown-exchange">
                {% for exchange in all_exchanges %}
                    <li><a class="dropdown-item" href="?exchange={{ exchange.name }}">{{ exchange.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container ">
            
            <div class="col-md-12">
                <div class="offer-dedicated-body-left">
                <div class="tab-content" id="pills-tabContent"> 
                    <div class="tab-pane fade active show" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab">
                        <div id="ratings-and-reviews" class="bg-white rounded shadow-sm p-4 mb-4 clearfix restaurant-detailed-star-rating">
                        </div>
                        <div class="bg-white rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews">
                            <h1>Reviews for {{ exchange }}</h1>
                            {% if Reviews %}
                            {% for review in Reviews %}
                            <div class="reviews-members pt-4 pb-4">
                                <div class="media">
                                    <a href="#"><img alt="Generic placeholder image" src="http://bootdey.com/img/Content/avatar/avatar1.png" class="mr-3 rounded-pill"></a>
                                    <div class="media-body">
                                        <div class="reviews-members-header">
                                            <span class="star-rating float-right">
                                                  <a href="#"><i class="icofont-ui-rating active"></i></a>
                                                  <a href="#"><i class="icofont-ui-rating active"></i></a>
                                                  <a href="#"><i class="icofont-ui-rating active"></i></a>
                                                  <a href="#"><i class="icofont-ui-rating active"></i></a>
                                                  <a href="#"><i class="icofont-ui-rating"></i></a>
                                                  </span>
                                            <h6 class="mb-1"><a class="text-black" href="#">{{ review.user }} - {{ review.rating }} stars</a><i class="fas fa-star text-warning"></i></h6>
                                            <p class="text-gray">{{ review.comment }}</p>
                                        </div>
                                        <div class="reviews-members-body">
                                            <p>
                                            </p>
                                        </div>
                                        <div class="reviews-members-footer">
                                            <a class="total-like" href="#"><i class="icofont-thumbs-up"></i> 856M</a> <a class="total-like" href="#"><i class="icofont-thumbs-down"></i> 158K</a>
                                            <span class="total-like-user-main ml-2" dir="rtl">
                                                  <a data-toggle="tooltip" data-placement="top" title="" href="#" data-original-title="Gurdeep Osahan"><img alt="Generic placeholder image" src="http://bootdey.com/img/Content/avatar/avatar5.png" class="total-like-user rounded-pill"></a>
                                                  <a data-toggle="tooltip" data-placement="top" title="" href="#" data-original-title="Gurdeep Singh"><img alt="Generic placeholder image" src="http://bootdey.com/img/Content/avatar/avatar2.png" class="total-like-user rounded-pill"></a>
                                                  <a data-toggle="tooltip" data-placement="top" title="" href="#" data-original-title="Askbootstrap"><img alt="Generic placeholder image" src="http://bootdey.com/img/Content/avatar/avatar3.png" class="total-like-user rounded-pill"></a>
                                                  <a data-toggle="tooltip" data-placement="top" title="" href="#" data-original-title="Osahan"><img alt="Generic placeholder image" src="http://bootdey.com/img/Content/avatar/avatar4.png" class="total-like-user rounded-pill"></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            {% endfor %}
                            {% else %}
                            <p>No reviews yet.</p>
                            {% endif %}
    
                        </div>    
                        <div class="bg-white rounded shadow-sm p-4 mb-5 rating-review-select-page">
                            <h5 class="mb-4">Leave Comment</h5>
                            <div class="mb-4">
                            </div>
                                <form method="POST" action="{% url 'add_review' %}" id="review-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="exchange" value="{{ exchange }}">
                                    {{ form.as_p }}
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                        </div>
                    </div>
            </div>
         </div>
    </section>

    

    <!--{% if Reviews %}
        <ul>
        {% for review in Reviews %}
            <li>{{ review.user }} - {{ review.rating }} stars - {{ review.comment }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No reviews yet.</p>
    {% endif %} -->


    {% block extra_js %}
    <script>
        document.querySelectorAll('#dropdown-exchange a').forEach(function (item) {
            item.addEventListener('click', function () {
                var selectedExchange = this.getAttribute('data-value');
                document.getElementById('exchange_input').value = selectedExchange;
                document.getElementById('exchange_form').submit();
            });
        });
    </script>
    {% endblock %}
{% endblock content %}